[package]
name = "ipc"
version = "0.1.0"
edition = "2024"

[dependencies]
memmap2 = "0.9.9"
clap = { version = "4.5.54", features = ["derive"] }
nix = { version = "0.30.1", features = ["event", "process"] }